<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <!-- Add something to idfentify the place you're reviewing -->
        <h1 id="title-page">Reviewing: "Place to review"</h1>
        <form id="review-form">
            <h2>Add a Review</h2>
            <label for="review">Your Review:</label>
            <textarea id="review" name="review" required></textarea>
            <label for="rating">Rating:</label>
            <select id="rating" name="rating" required>
                <!-- Options for rating -->
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
            </select>
            <button type="submit">Submit Review</button>
        </form>
    </main>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
