<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Places</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">

</head>
<body>
    {% include 'header.html' %}
    <main>
        <section id="filter">
            <h1 id="title-page">Available Places</h1>
            <div class="form-inline">
                <label for="price-filter">Max Price:</label>
                <select id="price-filter">
                    <!-- Options will be populated dynamically -->
                    <option disabled selected value="">--</option>
                    <option value="10">10</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="All">All</option>
                </select>
            </div>
        </section>
        <div id="places-list">

        </div>
    </main>
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
