<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Places</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/icon.png') }}">

</head>
<body>
    <header>
        <nav>
            <div>
                <a href="{{ url_for('index') }}" id="logo-link"><img src="{{ url_for('static', filename='images/logo.png') }}" alt="HBnB logo" width="160" height="70"></a>
            </div>
            <div>
                <a href="{{ url_for('login') }}" id="login-link">Login</a>
            </div>
        </nav>
    </header>
    <main>
        <section id="filter">
            <label for="price-filter">Max Price:</label>
            <select id="price-filter">
                <!-- Options will be populated dynamically -->
            </select>
        </section>
        <section id="places-list">
            <div class="place-card">
                <h1>Title</h1>
                <p>Price</p>
                <form action="{{ url_for('place') }}">
                    <button type="submit" class="details-button">View Details</button>
                </form>
            </div>
        </section>
    </main>
    <footer>
        <p>&copy;2024 HBnB Evolution. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
